.production-process {
  border: 1px solid @grey;
  margin: 30px;
  margin-top: 0px;
  margin-bottom: 58px;
  
  &__title{
    .flex-row();
    padding-left: 35px;
    padding-right: 43px;
    justify-content: space-around;
    
    & h3 {
      .h3-catalog();
      margin-left: 25px;
      padding-top: 28px;
      padding-bottom: 25px;
    }
  }
  
  
  & p {
    .p();
    padding: 34px;
    padding-top: 29px;
    padding-bottom: 29px;
  }
  
  &__buy {
    .btn-sub();
    margin: 34px;
    margin-top: 0;
  }
}