.order { 
  &__work-to-order-title {
    .page-title();
    text-align: center;   
    width: 100%;
  }  
  
  &__title-text {
    .h1();
  }
  
  &__description {
    .txt-opensans();
    padding: 30px;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
  
  &__form {
    padding: 30px;  
    padding-top: 0;
  }
  
  &__title {
    .flex-row();    
    justify-content: space-between;
    align-items: center;    
  }  
  
  &__option-title-text {
    .txt-opensans(@txt-16px);
    color: @site-color;
    line-height: @line-16;
    font-weight: 700;
    margin-right: 30px; 
    white-space: nowrap;
  }
  
  &__center-line  {       
    display: block;      
    height: 1px;
    width: 100%;
    background: #63d1bb;
  }
}
 
  
  

@media @tablet-width { 
  .order__work-to-order-title {
    margin-bottom: 67px;
  }
  .order__title-text {
    .h1(@h1-tablet);    
    margin-top: 104px;
    padding-bottom: 104px;
  }
  
  .order__description {
    .txt-opensans(@txt-16px);
    .center();
    margin-bottom: 63px;   
    width: @tablet-wrap;   
  }
  
  .order__form {
    padding: 0;
  }
  .order__title {
    .txt-opensans(@txt-16px);   
    min-width: 116px;
    margin-right: 50px;
    min-height: 42px;
  }
  
  .order__center-line {
    .invisible();
  }
  
}


@media @desktop-width {
  .order__work-to-order-title {
    margin-bottom: 111px;
  }
  .order__title-text {
    font-size: @h1-desktop;
    padding-bottom: 113px;    
  }
  
  .order__description {
    padding-left: 160px;    
  }
}



