.page-footer {
  background: #f1f1f1;
  &__line {
    width: 80%;
    margin: 0 auto;
    margin-top: 29px;
    background: #e5e5e5;
    height: 1px;    
  }
  
  &__designed-by {    
    .flex-row();    
    justify-content: center;
    align-items: center;
  
  & h3 {
    font-family: Verdana;
    font-size: 18px;
    font-weight: 700;
    margin-right: 25px;
    margin-bottom: 32px;
    }
  }
}