.about-us {
  padding-left: 30px;
  padding-right: 30px;
  
  & h1 {
    .h1();
    color: #000000;    
    margin-bottom: 33px;
  }  
  
  &__img-item {
    
  }
  
  &__description {
    font-family: Verdana;
    font-size: 16px;
    font-weight: 700;
    color: #000000;    
  }
}
