.types-of-goods {  
  &--item {
    .flex-row();
    min-height: 103px;    
    justify-content: space-around;
    align-items: center;
    
    & a {
      color: #ffffff;
      font-size: 18px;
      font-family: Tahoma;
      text-decoration: none;
      font-weight: 700;
    }
  }
  
  &__home-furnishings {  
    background: #63d1bb; 
  }
  
  &__kids-toys {
    background: #56c3b2;    
  }
  
  &__img-wrap {  
    .flex();
    width: 60px;    
    
  }
}