.types-of-goods {  
  .center();
  
  &--item {
    .flex-row();    
    min-height: 103px;    
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
  }
  
  &__text {
    .txt-tahoma(@txt-18px, @color: @white);      
  }
  
  &__home-furnishings {  
    background: #63d1bb; 
  }
  
  &__kids-toys {
    background: #56c3b2;    
  }
  
  &__img-wrap {  
    .flex();
    width: 60px;  
  }
}


@media @tablet-width {
  .types-of-goods {
    .center();
    .flex-row();  
    width: @tablet-wrap;  
    margin-bottom: 42px;
  }
  
  .types-of-goods--item {    
    flex-grow: 1;  
    min-height: 119px;    
  }  
    
  .types-of-goods__img-wrap {
    width: auto;   
  }
  
  .types-of-goods__text {
    .txt-tahoma(@txt-20px, 30px, @white);  
  }
}

@media @desktop-width {
  .types-of-goods {
    width: @desktop-wrap;
    margin-bottom: 71px;
  }
  
  .types-of-goods--item {
    justify-content: space-between;
    padding-right: 36px;
    padding-left: 39px;
  }
}
  